

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <h1>Soy Miembro</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>No. DPI</mat-label>
      <input
        type="text"
        mask="9999 99999 9999"
        matInput
        placeholder="Ingrese numero de DPI"
        formControlName="dpi"
        pattern="^([0-9]{0}|[0-9]{13})$"
      />

      <mat-error *ngIf="checkoutForm.controls['dpi'].hasError('pattern')"
        >Dpi inv&aacute;lido</mat-error
      >

      <mat-icon matSuffix>perm_identity</mat-icon>

      <mat-hint></mat-hint>
    </mat-form-field>
  </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input type="date" matInput id="birthday" formControlName="birthday" />
          <mat-hint>DD/MM/YYYY</mat-hint>
        </mat-form-field>
      </p>  

  <button
    name="submit"
    id="submit"
    type="submit"
    class="button"
    [disabled]="checkoutForm.invalid"
  >
    Buscar
  </button>

  <button (click)="createPDF()">Crear PDF</button>	

</form>

