<h3>Eres Miembro</h3>



<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <h1>Soy Miembro</h1>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>No. DPI</mat-label>
      <input type="text" mask="9999 99999 9999" matInput placeholder="Ingrese numero de DPI" formControlName="dpi"
        pattern="^([0-9]{0}|[0-9]{13})$" />

      <mat-error *ngIf="checkoutForm.controls['dpi'].hasError('pattern')">Dpi inv&aacute;lido</mat-error>

      <mat-icon matSuffix>perm_identity</mat-icon>

      <mat-hint></mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input type="date" matInput id="birthday" formControlName="birthday" />
      <mat-hint>DD/MM/YYYY</mat-hint>
    </mat-form-field>
  </p>

  <button name="submit" id="submit" type="submit" class="button" [disabled]="checkoutForm.invalid">
    Buscar
  </button>

  <div *ngFor="let member of memberSubject$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>N&uacute;mero de Membres&iacute;a: <span>{{ member.id }}</span></mat-card-title>
        <mat-card-subtitle>
          <span>{{ member.firstname }}</span>&nbsp;
          <span>{{ member.lastname }}</span>&nbsp;
          <div *ngIf="member.mesa"> <br/><strong><span>N&uacute;mero de Mesa de Votaci&oacute;n: {{ member.mesa }}</span></strong>&nbsp;</div>
          <div *ngIf="!member.mesa"> <br/><span>Si usted tiene 18 a&nacute;os o m&aacute;s, si est&aacute; Bautizado y si es Miembro Activo de la Iglesia, favor abocarse a la mesa de Informaci&oacute;n.</span>&nbsp;</div>          
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>      
    </mat-card>
  </div>
</form>