<p>donaciones works!</p>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Emisi&oacute;n</mat-label>
      <input type="date" matInput id="emisionDate" formControlName="emisionDate" />
      <mat-hint>DD/MM/YYYY</mat-hint>
    </mat-form-field>
  </p>


  <p>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de DTE</mat-label>
      <mat-select id="documentType" formControlName="documentType">
        <mat-option value="DONACION">RECIBO DONACION</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Moneda</mat-label>
      <mat-select id="currency" formControlName="currency">
        <mat-option value="GTQ">GTQ - Quetzales</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-radio-group aria-label="Documento" matInput formControlName="documentType">
      <mat-radio-button [checked]="true" value="NIT" >NIT</mat-radio-button>
      <mat-radio-button value="CUI">DPI</mat-radio-button>
    </mat-radio-group>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>NIT</mat-label>
      <input
        id="nit"
        formControlName="nit"
        matInput
        placeholder=""
      />
      <mat-icon matSuffix>short_text</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>CUI</mat-label>
      <input
        type="text"
        mask="9999 99999 9999"
        matInput
        placeholder="Ingrese numero de DPI"
        formControlName="dpi"
      />
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Monto</mat-label>
      <input
        type="number"
        id="amount"
        formControlName="amount"
        matInput
        placeholder=""
      />
      <mat-icon matSuffix>short_text</mat-icon>
    </mat-form-field>
  </p>
